html{
    height: 100%;
    margin: 0px;
}
body{
    background-image: url("Dick turpin.jpg");
   background-size: cover;
   background-repeat: no-repeat;
   background-size: 100%;
  height: 100%;
  margin: 0px;
  background-color: red;
  color: rgb(0, 255, 0);
  text-align: center;
}

.topnav{
    overflow: hidden;
    background-color: black;
}

.topnav a{
    float: left;
    color: blue;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}

.topnav a.active{
    background-color: aquamarine;
    color: yellow;

}

.topnav a:hover{
    background-color: azure;
    color: white;
}
body{
    background-color: red;
}
H1{
    background-color: red;
    border: 10px solid yellow;
    color: blue;
}
.footer{
    background-color: blue;
    left: 0;
    bottom: 0;
    text-align: center;
    color: white;
    padding: 10px ;
    border: 5px solid rgb(255, 238, 0);
    box-shadow: 10px solid green;
    position: sticky;
}
.Section{
    color: cyan;
}